
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.container {  
  width: 1200px;
  margin: 0 auto;
}
.logo {
  font-size: 24px;
  color: #4e03fc;
  font-weight: bold;
}
.hero > .content{
  width: 1200px;
  height: 70vh;
  margin: 0 auto;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero {
  height: 70vh;
  width: 100%;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.7) 0%), url('../public/images/MDECIN\ AFRICAINE_0.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
}

.hero-slogan h1{
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 54px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.input {
  padding: 10px 20px;
  font-size: 16px;
  width: 25rem;
  outline: none;
  border: none;
}
.btn {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  color: #fff ;
  background: #4e03fc;
  font-family: 'Poppins';
  text-align: center;
  cursor: pointer;
}

section {
  padding: 10vh 0;
}
section h1 {
  font-family: "Roboto";
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 300;
  padding-bottom: 10vh;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vh;
}
.card {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 25px;
  font-family: 'roboto';
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 1px 3px #ccc;
  border-radius: 4px;
}

.card h2 {
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
}

.wrapper {
  font-family: 'Roboto';
  text-align: center;
}
.wrapper .phone {
  margin-top: 35px;
  margin-bottom: 10px;
  color: #4e03fc;
}

footer {
  padding: 5vh 0;
  font-family: 'Roboto';
  text-align: center;
  border-top: 1px solid #ccc;
}
/************ Doctors LIst *************/
.search-wrapper {
  color: #fff;
  font-family: 'Roboto';
  background-color: rgba(78, 3, 252, 0.5);

}
.container-flex {  
  width: 1200px;
  margin: 0 auto;
  height: 15vh;
  display: flex;
  align-items: center;
}
.container-flex p {
  flex-grow: 1;
}
.catalog-wrapper {
  padding: 10vh 0;
}
.card-doctor{
  font-family: 'Roboto';
  box-shadow: 0px 1px 3px #ccc;
  padding: 25px 30px;
  margin: 20px 0;
}
.card-detail {
  display: flex;
}
.card-doctor-img {
  margin-right: 2rem;
}
.card-doctor-desc .specialite {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}
.card-doctor-desc h3 {
  margin: 0.8rem 0;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.8rem;
}
.detail-info {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}
.btn-rounded{
  padding: 5px 10px;
  color: #4e03fc;
  font-size: 14px;
  border: 1px solid #4e03fc;
  border-radius: 4px;
}
.btn-rounded:hover {
  color: #fff;
  background-color: #4e03fc;
}

/*********** DOCTOR DETAILS *********/
.profile-wrapper {
  display: flex;
  padding: 10vh 0;
}
.profile {
  border: 1px solid #ccc;
  font-family: 'roboto';
  border-radius: 4px;
  margin-right: 25px;
}
.profile-img {
  min-width: 250px;
  background-size: cover;
  background-position: center;
}
.profile-name {
  padding: 25px 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.profile-name p {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
}
.profile-name h3 {
  font-family: 'Poppins';
}

.profile-info {
  padding: 25px 0;
  border-bottom: 1px solid #ccc;
}
.profile-info p {
  margin: 10px;
}

.profile-info-data {
  text-transform: uppercase;
  font-family: 'Montserrat';
}

.profile-btn {
  text-align: center;
  padding: 50px 0;
}
.profile-btn span {
  color: #fff;
  background-color: #4e03fc;
  font-family: 'Poppins';
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.desc{
  flex-grow: 1;
  font-family: 'roboto';
  border: 1px solid #ccc;
}

.desc h2 {
  font-family: 'Poppins';
  text-transform: uppercase;
}
.desc p {
  padding: 10px 0;
}
.desc-dispo {
  padding-bottom: 10vh;
  border-bottom: 1px solid #ccc;
}
.desc-card {
  padding: 25px;
  border-bottom: 1px solid #ccc;
}
.desc-card-btn {
  text-align: center;
}
.desc-card span {
  color: #fff;
  background-color: #4e03fc;
  font-family: 'Poppins';
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
.date-picker{
  margin: 35px 0;
}

/********* CONFIRM WRAPPER ***********/
.confirm-wrapper{
  margin: 10vh 0;
  font-family: 'roboto';
  display: flex;
}
.connexion {
  flex-grow: 1;
  border: 1px solid #ccc;
  padding: 25px;
  margin-right: 50px;
  border-radius: 4px;
}
.btn-large {
  display: block;
  margin: 5vh 0;
}

.confirm{
  flex-basis: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
ul{
  margin: 0;
  list-style: none;
}
.confirm li {
  padding: 10px 25px;
}
